<h1>
  {{title}}
</h1>
<div class="container">
<!--<alert type="success">hello </alert>-->
<!--<p class="glyphicon glyphicon-play-circle">Play</p>-->
<!--<button class="btn btn-primary glyphicon glyphicon-play-circle" (click)="onClick()">Play</button>-->
<!--<input (keyup)="onKey($event)">-->
<!--<p>{{value}}</p>-->
<!--<br/>-->
<!--<input #box (keyup.enter)="onEnter(box.value)" (blur)="onEnter(box.value)" placeholder="type here...">-->
<!--<p>{{box.value}}</p>-->
<!--<litter-tour></litter-tour>-->
<hero-form></hero-form>
</div>